* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.quote_article {
  padding: 150px 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  font-size: 35px;
  align-items: center;
}
