* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

.app_container {
  width: 90%;
  margin: auto;
}

.cards_section {
  padding: 20px 0;
}

.card_article {
  padding: 20px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card_interaction {
  padding: 25px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.interact_btn {
  background-color: #fff;
  border: none;
}

.vertical_line {
  border-right: 1px solid #e8e8e8;
}

.card_mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card_progressbar {
  width: 4.25rem;
  height: 4.25rem;
  border: 0.1px solid #f3f3f3;
  border-radius: 50%;
}

.card_progressbar_mark {
  width: 100%;
  height: 100%;
  border: 2px solid #0290ff;
  border-left-color: #e8e8e8;
  border-radius: 50%;
}

.font1 {
  font-weight: 400;
  font-size: 14px;
  color: #121212;
  padding: 10px 0;
}

.font2 {
  font-weight: 700;
  font-size: 22px;
  color: #401212;
  padding: 2px 0;
}

.font3 {
  font-weight: 400;
  font-size: 14px;
  color: #4386bf;
}

.font5 {
  font-weight: 400;
  font-size: 32px;
  color: #121212;
}

.font6 {
  font-weight: 400;
  font-size: 14px;
  color: #121212;
}

.font7 {
  font-weight: 400;
  font-size: 13px;
  color: #121212;
  padding: 10px 0;
}

.font8 {
  font-weight: 400;
  font-size: 16px;
  color: #121212;
  padding: 2px 0 25px 0;
}

.font9 {
  font-weight: 400;
  font-size: 13px;
  color: #121212;
}

.update_btn {
  padding: 8px 5px;
  background-color: #0290ff;
}

.border_none {
  border: none;
}
