* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
}

.app_container {
  width: 90%;
  margin: auto;
}

.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.profile_icon {
  width: 30px;
}

.nav_tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav_tag h1 {
  color: #0290ff;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
  color: #696969;
}

.td_none {
  text-decoration: none;
}
